<link href="../../css/register/register.css" rel="stylesheet" />
<nav class="navbar navbar-default" id="navbar">
    </nav>
            <div class="header">
                <div class="row">
                    <div class="col-md-4">
                        <h1>RT-Bid</h1>
                    </div>
                    <div class="col-md-4" id="col-md-4">
                        <a href="/#/register">Get Started</a>
                        <a href="#">New</a> 
                        <a href="#">Contact Us</a>
                        </div>
                        </div>
                </div>
           
            <div class="container">
                <div class="inner">
                    <h1>Welcome</h1>
                    <h3>Amazing Deals 24/7</h3>

                    <form action="">
                        <lagend>Login to your account</lagend><br>

                        <label><span class="glyphicon glyphicon-user"></span></label>
                        <input type="text" placeholder='Username' class="input" ng-model="loginData.username"/><br>

                        <label><span class="glyphicon glyphicon-lock"></span></label>
                        <input type="password" placeholder="password" class="input" ng-model="loginData.password"/><br>

                        <button type="submit" class="button" ng-click="login()">Sign in</button>

                        <br><h4 class="glyphicon glyphicon-user"><a href="/#/register">Register Here.</a></h4>
                    </form>
                </div>
            </div>