<link href="../../css/register/register.css" rel="stylesheet" />
<nav class="navbar navbar-default" id="navbar">
</nav>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <h1>RT-Bid</h1>
            </div>
            <div class="col-md-4" id="col-md-4">
                <a href="/#/home">Main</a>
                <a href="#">New</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="inner">
                    <h1>Start bidding today!</h1>
                    <h3>Amazing Deals 24/7</h3>
                    <form class="form-horizontal">
                    
                            <h3>Register</h3><br>

                            <label><span class="glyphicon glyphicon-user"></span></label>
                            <input type="text" id="inputUsername" class="input" placeholder="Username" ng-model="registration.Username" required autofocus><br>

                            <label><span class="glyphicon glyphicon-lock"></span></label>
                            <input type="password" id="inputPassword" class="input" placeholder="Password" ng-model="registration.Password" required><br>

                            <label><span class="glyphicon glyphicon-lock"></span></label>
                            <input type="password" id="confirmPassword" class="input" placeholder="Confirm Password" ng-model="registration.ConfirmPassword" required><br>

                            <label><span class="glyphicon glyphicon-envelope"></span></label>
                            <input type="email" id="inputEmail" class="input" placeholder="Email address" ng-model="registration.EmailAddress" required autofocus><br>

                            <button type="submit" class="button" id="registerButton" ng-click="register()">Register</button>
                  

                        </form>
                </div>
            </div>

                  
      

                    
                   

                    
            

                   
