<br/>
<br/>
<div class="col-md-6 col-md-offset-3 toppad">
    <div class="dashboard" position="center pull right">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="dashboard-tabs">
                    <li class="active" ng-repeat="category in categories">
                        <a ng-href="#/app/category/{{category.CategoryId}}" class="btn" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="glyphicon {{category.IconName}}"></span>
                            <h4>{{category.CategoryName}}</h4>
                        </a>
                    </li>
                    <!--<li>
                        <a href="/#/app/category" class="btn" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-camera"></span>
                            <h4>Electronics</h4>
                        </a>
                    </li>--->
                </ul>
            </div>
        </div>
    </div>
</div>