<div class="profile-pane">
        <div>
            <div ng-repeat="product in products" class="tab-content col-lg-12 active tab-pane " id="profile" role="tabpanel" >
                <div >
                    <div class="header">
                        <h4>Product Information</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <img class="col-sm-3 col-sm-offset-1" src="http://lorempixel.com/420/420/city">
                            <div class="col-sm-4">
                                <h4>Product : {{product.Name}}</h4>
                                <h4>Description : {{product.Description}}</h4>
                                <h4>Product ID : {{product.ProductId}}</h4>
                                <h4>Category ID : {{product.CategoryId}}</h4>
                                <h4>Owner ID : {{product.UserId}}</h4>
                                <h4>Shipping : $ {{product.ShippingCost}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="col-sm-3 col-sm-offset-1 col">Price : $ {{product.SellingPrice}}</h4>
                            <h4 class="col-sm-4 col">Start Bidding : $ {{product.StartBid}}</h4>
                            <div>
                                <a class="btn btn-primary rbtn" href="/#/app/auction" role="button"><h4>Enter the Auction</h4></a>
                            </div>

                            <h3 class="col-sm-10 col-sm-offset-1 title">Product Owner</h3>
                            <div id="supportedCauses" class="col-sm-10 col-sm-offset-1">
                                <div id="pane1" class="cause-info">
                                    <div>
                                        <img src="http://lorempixel.com/420/420/people">
                                        <div>
                                            <h4>[Name]</h4>
                                            <h4>[Email]</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

