<div class="col-lg-6" ng-repeat="auction in auctions">
    <div class="panel panel-primary">
        <div class="panel-heading" >
            <h4>Product Information</h4>
        </div>
        <div class="panel-body">
            <div class="row" > 
                <div class="col-sm-3" >
                    <img class="img-rounded img-responsive" src="http://lorempixel.com/125/125/technics">
                </div>

                <div class="col-sm-9">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Product Name: </td>
                                <td class="text-right">{{auction.Product.Name}}</td>
                            </tr>
                            <tr>
                                <td>Description: </td>
                                <td class="text-right">{{auction.Product.Description}}</td>
                            </tr>
                            <tr>
                                <td>Category:</td>
                                <td class="text-right">{{auction.Product.Category.CategoryName}}</td> <!-- this is an angular filter -->
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td class="text-right">{{auction.Product.SellingPrice | currency:'$'}}</td>
                            </tr>
                            <tr>
                                <td>Starting Value:</td>
                                <td class="text-right">{{auction.StartBid | currency:'$'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div >
                <a class="btn btn-primary btn-block text-center" href="/#/app/auction/{{auction.AuctionId}}" role="button">
                    <h4>Enter the Auction !!!</h4>
                </a>
            </div>
            <div id="pane1" class="well text-center">
                <h4 class="fa fa-clock-o"> Time Remaining</h4>
                <h1>OO:OO:{{countDowntext}}</h1>
            </div>
            <div>
                <a class="btn btn-primary btn-block text-center">
                    <h4>Current Bid</h4>
                </a>
            </div>
            <div>
                <div id="pane1" class="well text-center">
                    <div id="over" style="position:absolute; width:100%; height:100%">
                        <img class="img-rounded img-responsive col-sm-3 cover" ng-show="auction.OpenSoon" src="../../../images/Status/OpenSoon.png" />
                        <img class="img-rounded img-responsive col-sm-3 cover" ng-show="auction.InAction" src="../../../images/Status/InProgress.png" />
                        <img class="img-rounded img-responsive col-sm-3 cover" ng-show="auction.Rescheduled" src="../../../images/Status/Rescheduled.png" />
                        <img class="img-rounded img-responsive col-sm-3 cover" ng-show="auction.ItemSold" src="../../../images/Status/Sold.png" />
                    </div>
                    <h4 class="fa fa-dollar">{{auction.CurrentAmount}}</h4>
                </div>
                <a class="btn btn-primary btn-block text-center" role="button">
                    <h3 class="col-sm-10 col-sm-offset-1 title">Product Owner</h3>
                </a>
                <div id="pane1" class="well text-center">
                    <div id="pane1" class="cause-info">
                        <div class="col-sm-12">
                            <img class="img-rounded img-responsive col-sm-3" src="http://lorempixel.com/420/420/people">

                            <table class="table-user-information col-sm-9">
                                <tbody>
                                    <tr>
                                        <td>Name: </td>
                                        <td class="text-right">{{auction.Product.RTBidUser.UserName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email Address: </td>
                                        <td class="text-right">{{auction.Product.RTBidUser.Address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


