<div class="row  home">
    <h1 class="center-block">My Auctions</h1>
</div>
<hr>
<div class="jumbotron" style="margin-top:45px">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="home5">Auction Title</th>
                <th class="home5">Product Name</th>
                <th class="home5">Start Time</th>
                <th class="home5">Closed Time</th>
                <th class="home5">Created Date</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="auction in auctions">

                <td>{{auction.AuctionTitle}}</td>
                <td>{{auction.Product.Name}}</td>
                <td>{{auction.StartTime | date: 'shortDate'}}</td>
                <td>{{auction.ClosedTime | date: 'shortDate'}}</td>
                <td>{{auction.CreatedDate | date: 'shortDate'}}</td>

                <td>
                    <a class="btn btn-default" ng-href="#/app/myAuctions/detail/{{auction.AuctionId}}">Edit</a>
                    <a class="btn btn-danger" ng-click="deleteAuction(auction)">Delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-default pull-right" ng-href="#/app/myAuctions/add">Add</a>