<link href="../../css/home/home.css" rel="stylesheet" />
<nav class="navbar navbar-default" id="navbar">
</nav>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Bid</span>RT
              <!--<img class="img-responsive smallImage" src="../../images/icons/icon.png" contextmenu="Bid-RT"/>-->
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/#/register">Sign Up</a>
                </li>
                <li>
                    <a class="page-scroll">New</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>  
</nav>
    <div class="header">
        <div class="row">
        </div>
    </div>
<div class="container">
    <div class="inner">
            <h1>Welcome</h1>
            <h3>Amazing Deals 24/7</h3>

            <form>
                <lagend>Login to your account</lagend><br>

                <label><span class="glyphicon glyphicon-user"></span></label>
                <input type="text" placeholder='Username' class="input" ng-model="loginData.username" /><br>

                <label><span class="glyphicon glyphicon-lock"></span></label>
                <input type="password" placeholder="password" class="input" ng-model="loginData.password" /><br>

                <button type="submit" class="button" ng-click="login()">Sign in</button>

                <br><h4 class="glyphicon glyphicon-user"><a href="/#/register">  Register Here.</a></h4>
            </form>
        </div>
    </div>
