 <div class="header">
        <div class="row">
            <div class="col-md-4">
                <h1>Portfolio</h1>
            </div>
            <div class="col-md-4" id="col-md-4">
                <a href="#">Service</a>
                <a href="#">Projects</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inner">
            <h1>New Look</h1>
            <h3>An Advance Login Form With Bootstrap</h3>

            <form action="">
                <lagend>Login to your account</lagend><br>
                <label><span class="glyphicon glyphicon-user"></span></label>
                <input type="text" placeholder='Username' class="input" /><br>
                <label><span class="glyphicon glyphicon-lock"></span></label>
                <input type="password" placeholder="password" class="input" /><br>
                <button type="submit" class="button">Sign in</button>
            </form>
        </div>
    </div>